[submodule "IRGP/irgp-org-portal-service"]
	path = IRGP/irgp-org-portal-service
	url = https://github.com/HaribabuChavala/irgp-org-portal-service.git
[submodule "IRGP/irgp-org-registration-service"]
	path = IRGP/irgp-org-registration-service
	url = https://github.com/HaribabuChavala/irgp-org-registration-service.git
[submodule "IRGP/irgp-payment-service"]
	path = IRGP/irgp-payment-service
	url = https://github.com/HaribabuChavala/irgp-payment-service.git
[submodule "IRGP/irgp-platform-admin-service"]
	path = IRGP/irgp-platform-admin-service
	url = https://github.com/HaribabuChavala/irgp-platform-admin-service.git
[submodule "IRGP/irgp-reminder-service"]
	path = IRGP/irgp-reminder-service
	url = https://github.com/HaribabuChavala/irgp-reminder-service.git
[submodule "IRGP/irgp-report-generation-service"]
	path = IRGP/irgp-report-generation-service
	url = https://github.com/HaribabuChavala/irgp-report-generation-service.git
[submodule "IRGP/irgp-scheduler-service"]
	path = IRGP/irgp-scheduler-service
	url = https://github.com/HaribabuChavala/irgp-scheduler-service.git
[submodule "IRGP/irgp-spark-connectors"]
	path = IRGP/irgp-spark-connectors
	url = https://github.com/HaribabuChavala/irgp-spark-connectors.git
[submodule "IRGP/irgp-spark-livy"]
	path = IRGP/irgp-spark-livy
	url = https://github.com/HaribabuChavala/irgp-spark-livy.git
[submodule "IRGP/irgp-subscription-service"]
	path = IRGP/irgp-subscription-service
	url = https://github.com/HaribabuChavala/irgp-subscription-service.git
[submodule "IRGP/IRGP/irgp-ai-sql-service"]
	path = IRGP/IRGP/irgp-ai-sql-service
	url = https://github.com/HaribabuChavala/irgp-ai-sql-service.git
[submodule "IRGP/IRGP/irgp-audit-service"]
	path = IRGP/IRGP/irgp-audit-service
	url = https://github.com/HaribabuChavala/irgp-audit-service.git
[submodule "IRGP/IRGP/irgp-auth-service"]
	path = IRGP/IRGP/irgp-auth-service
	url = https://github.com/HaribabuChavala/irgp-auth-service.git
[submodule "IRGP/IRGP/irgp-billing-service"]
	path = IRGP/IRGP/irgp-billing-service
	url = https://github.com/HaribabuChavala/irgp-billing-service.git
[submodule "IRGP/IRGP/irgp-data-source-service"]
	path = IRGP/IRGP/irgp-data-source-service
	url = https://github.com/HaribabuChavala/irgp-data-source-service.git
[submodule "IRGP/IRGP/irgp-export-service"]
	path = IRGP/IRGP/irgp-export-service
	url = https://github.com/HaribabuChavala/irgp-export-service.git
[submodule "IRGP/IRGP/irgp-google-adk-agent"]
	path = IRGP/IRGP/irgp-google-adk-agent
	url = https://github.com/HaribabuChavala/irgp-google-adk-agent.git
[submodule "IRGP/IRGP/irgp-helm"]
	path = IRGP/IRGP/irgp-helm
	url = https://github.com/HaribabuChavala/irgp-helm.git
[submodule "IRGP/IRGP/irgp-infra"]
	path = IRGP/IRGP/irgp-infra
	url = https://github.com/HaribabuChavala/irgp-infra.git
[submodule "IRGP/IRGP/irgp-livy-service"]
	path = IRGP/IRGP/irgp-livy-service
	url = https://github.com/HaribabuChavala/irgp-livy-service.git
[submodule "IRGP/IRGP/irgp-notification-service"]
	path = IRGP/IRGP/irgp-notification-service
	url = https://github.com/HaribabuChavala/irgp-notification-service.git
[submodule "IRGP/IRGP/irgp-observability-service"]
	path = IRGP/IRGP/irgp-observability-service
	url = https://github.com/HaribabuChavala/irgp-observability-service.git
[submodule "IRGP/IRGP/irgp-org-portal-service"]
	path = IRGP/IRGP/irgp-org-portal-service
	url = https://github.com/HaribabuChavala/irgp-org-portal-service.git
[submodule "IRGP/IRGP/irgp-org-registration-service"]
	path = IRGP/IRGP/irgp-org-registration-service
	url = https://github.com/HaribabuChavala/irgp-org-registration-service.git
[submodule "IRGP/IRGP/irgp-payment-service"]
	path = IRGP/IRGP/irgp-payment-service
	url = https://github.com/HaribabuChavala/irgp-payment-service.git
[submodule "IRGP/IRGP/irgp-platform-admin-service"]
	path = IRGP/IRGP/irgp-platform-admin-service
	url = https://github.com/HaribabuChavala/irgp-platform-admin-service.git
[submodule "IRGP/IRGP/irgp-reminder-service"]
	path = IRGP/IRGP/irgp-reminder-service
	url = https://github.com/HaribabuChavala/irgp-reminder-service.git
[submodule "IRGP/IRGP/irgp-report-generation-service"]
	path = IRGP/IRGP/irgp-report-generation-service
	url = https://github.com/HaribabuChavala/irgp-report-generation-service.git
[submodule "IRGP/IRGP/irgp-scheduler-service"]
	path = IRGP/IRGP/irgp-scheduler-service
	url = https://github.com/HaribabuChavala/irgp-scheduler-service.git
[submodule "IRGP/IRGP/irgp-spark-connectors"]
	path = IRGP/IRGP/irgp-spark-connectors
	url = https://github.com/HaribabuChavala/irgp-spark-connectors.git
[submodule "IRGP/IRGP/irgp-spark-livy"]
	path = IRGP/IRGP/irgp-spark-livy
	url = https://github.com/HaribabuChavala/irgp-spark-livy.git
[submodule "IRGP/IRGP/irgp-subscription-service"]
	path = IRGP/IRGP/irgp-subscription-service
	url = https://github.com/HaribabuChavala/irgp-subscription-service.git
[submodule "IRGP/irgp-ai-sql-service"]
	path = IRGP/irgp-ai-sql-service
	url = https://github.com/HaribabuChavala/irgp-ai-sql-service.git
[submodule "IRGP/irgp-audit-service"]
	path = IRGP/irgp-audit-service
	url = https://github.com/HaribabuChavala/irgp-audit-service.git
[submodule "IRGP/irgp-auth-service"]
	path = IRGP/irgp-auth-service
	url = https://github.com/HaribabuChavala/irgp-auth-service.git
[submodule "IRGP/irgp-billing-service"]
	path = IRGP/irgp-billing-service
	url = https://github.com/HaribabuChavala/irgp-billing-service.git
[submodule "IRGP/irgp-data-source-service"]
	path = IRGP/irgp-data-source-service
	url = https://github.com/HaribabuChavala/irgp-data-source-service.git
[submodule "IRGP/irgp-export-service"]
	path = IRGP/irgp-export-service
	url = https://github.com/HaribabuChavala/irgp-export-service.git
[submodule "IRGP/irgp-google-adk-agent"]
	path = IRGP/irgp-google-adk-agent
	url = https://github.com/HaribabuChavala/irgp-google-adk-agent.git
[submodule "IRGP/irgp-helm"]
	path = IRGP/irgp-helm
	url = https://github.com/HaribabuChavala/irgp-helm.git
[submodule "IRGP/irgp-infra"]
	path = IRGP/irgp-infra
	url = https://github.com/HaribabuChavala/irgp-infra.git
[submodule "IRGP/irgp-livy-service"]
	path = IRGP/irgp-livy-service
	url = https://github.com/HaribabuChavala/irgp-livy-service.git
[submodule "IRGP/irgp-notification-service"]
	path = IRGP/irgp-notification-service
	url = https://github.com/HaribabuChavala/irgp-notification-service.git
